.heading-override {
    font-weight: 200;
    color: #98b65a !important;
    text-decoration: inherit;
}

.a-override {
    font-weight: 300;
    color: #ffffff !important;

}

.a-override:hover {
    color: #98b65a !important;
  }